{% extends 'core/base.html' %}

{% load item_extras %}

{% block title %}Cart{% endblock %}

{% block content %}

{% if cart.products.exists %}
<div class="container container-shop-cart d-flex justify-content-center">
    <div class="row w-100 text-center">
            <div class="col-12 table-responsive">
                <table class="table mt-2 text-white size-cart">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for cp in cart.products_related %}
                            {% with item=cp.product %}
                                <tr>
                                    <th>{{forloop.counter}}</th>
                                    <th>
                                        {% if item.img %}
                                            <img src="{{item.img.url}}" alt="Imagen del producto" width="60" height="60">
                                        {% endif %}
                                    </th>
                                    <th>
                                        <p class="product-cart m-0">{{item.name}}</p>
                                        {% include 'carts/snippets/remove.html' %}
                                    </th>
                                    <th>{{cp.quantity}}</th>
                                    <th>
                                        <span class="font-weight-bold ">{{item.price | price_format}}</span>
                                    </th>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col text-center">
                <div class="card my-5 mx-auto">
                    <div class="card-body">
                        <div class="font-weight-bold">
                            Subtotal({{cart.products.count}}) : <span class="text-danger">{{cart.subtotal | price_format}}</span>
                        </div>
                        <div class="mt-2">
                            <a href="#" class="btn btn-warning">Proceder al pago</a>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>

{% else %}
<div class="container text-center">
    <p class="lista_vacia mt-3">Tu carrito está vacio</p>
    <a class="lista_vacia_link" href="{% url 'shop:index' %}">Volver a la lista</a>
</div>
{% endif %}
{% endblock content %}