{% load static %}

<form action="{% url 'carts:add' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name='product_id' value="{{itemshop.id}}">
    
    <div class="row">
        <button type="button" class="col btn btn-danger mx-1" id="remove">Quitar</button>
        <input type="number" value="1" class="col mx-2 form-control " readonly name="quantity"  id="quantity" >
        <button type="button" class="col btn btn-primary mx-1" id="add">Añadir</button>

      
    </div>

    <button class="my-4 btn-shop" type="submit"><img class="car-shop-img" src="{% static 'core/img/icons/shopping-cart.png' %}" alt="botón comprar" title="botón comprar"></button>

</form>

<script>
    
    const add = document.getElementById('add');
    const remove = document.getElementById('remove');
    const quantity = document.getElementById('quantity');

    add.addEventListener('click', function(){
        quantity.value = parseInt(quantity.value) + 1
    })

    remove.addEventListener('click', function(){
        value = parseInt(quantity.value)

        if (value != 1){
            value = value -1
        }
        quantity.value = value
    })
</script>