

.body-color{
    background-color: #000000;
}


/*  -------HEADER-------- */

.txt-checkbox{
    font-size: 25px;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.logo-header{
    width: 250px;
}

.logo-shop-menu{
    width: 20px;
}

.logo-social-menu{
    width: 20px;
}


.logo-ham-menu{
    width: 20px;
}
.bg-menu{
    background-color: #fff;
    color: #000000;
    font-size: 1.1em;
    padding: .5em 2em;
    border: 1px solid;
}


li:first-child a{
    border-radius: .5em 0 0 .5em;
}

li:last-child a{
    border-radius: 0 .5em .5em 0;
}

.bg-menu:hover{
    background-color: #F57C00;
    color: #fff;
    transition: .3s;
}


/* -------- MAIN --------- */

.img-main{
    width: 100%;
    border-radius: 1em 0 0 1em;

}

.bg-main{
    background-color: #F57C00;
    border-radius: 0 1em 1em 0;
}


.h-main{
    color: #fff;
    font-size: 200%;
    text-shadow: rgba(0, 0, 0, 1)0px 4px 4px;
}

.p-main{
    font-size: 140%;
    color: #fff;
}

.mp-main{
    margin: 0;
    padding: 0;
}



/* PART 2 */
.container-icon{
    padding: 0;
    margin: 0 3em;
    border-radius: 100px 100px 10px 10px;
}

.icon-size{
    width: 100%;
    padding: 2.2em;
}

.container-img{
    background-color: rgb(255, 207, 160);
    border-radius: 100px;
}

.icon-bgc{
    background-color: #F57C00;
}

.icon-text{
    width: 100%;
    font-size: 1.5em;
    color: #fff;
    background-color: #F57C00;
    
}

/* --------------------FOOTER ------------- */

.icon-sociales{
    width: 200px;
    background-color: #F57C00;
    padding: 1em 5em;
    margin: 1em 3em;
    border-radius: 2em;
}


.icon-sociales:first-child:hover{
    background-color: #3b5998;
    transition: .3s;
}

.bg-sociales:hover{
    background-color: #1da1f2;
    transition: .3s;
}

.bg-sociales:last-child:hover{
    background-color: #0077b5;
    transition: .3s;
}

.text-footer{
    color: #fff;
    font-size: 1.2em;
}




/* ----------------- ABOUT -------------- */

.border-carousel{
    border-radius: .5em;
}

/* ------------- CARDS ----------- */
.img-container{
    width: 100%;
    height: 300px;
    border-radius: 0 0 1em 1em;
}

.img-img-c{
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 0 0 1em 1em;
}

.mp-container{
    margin: 4em 0 0 0;
}

.bg-container{
    background-color: #fff;

}

.h-container{
    border-radius: 3em;
    width: 250px;
    background-color: #F57C00;
    color: #fff;
}


.p-container{
    border-radius: 1em 1em 0 0;

}

.p-card{
    font-size: 1.2em;
}

.move{
    position: relative;
    top: 2em;
}


/* --------SHOP -------- */

.h-shop{
    width: 100%;
    font-size: 1.3em;
    color: #fff;
}

.btn-s-shop{
    background-color: rgb(221, 119, 17);
    color: #fff;
}

.des-btn{
    width: 200px;
}

.btn:hover{
    background-color: rgb(221, 119, 17);
}

/* TABLE */


.head-table{
    background-color: rgb(221, 119, 17);
}


.container-shop{
    background-color: rgb(139, 139, 139);
}

.car-shop-img{
    width: 40px;
}

.btn-shop{
    border-radius: .4em;
}

.car-shop-input{
    width: 100%;
}

/**************** CLIENTES ***************/

.h-clientes{
    width: 60%;
    font-size: 24px;
    color: #fff;
    padding: .5em;
    background-color: rgba(245, 123, 0, 0.904);
    border-radius: 1em;
    position: relative;
    top: 1.5em;
    box-shadow: rgba(0, 0, 0, 1)0px 2px 20px;

}
.img-clientes{
    width: 100%;
    height: 300px;
    border-radius: .5em;
    

    object-fit: cover;
}

.p-clientes{
    width: 80%;
    font-size: 18px;
    background-color: rgba(245, 123, 0, 0.904);
    color: #fff;
    padding: .7em;
    border-radius: 1em;
    position: relative;
    bottom: 1.5em;
    box-shadow: rgba(0, 0, 0, 1)0px 2px 20px;


}

.img-trabajos{
    width: 200px;
}

.p-container-clientes{
    color: #fff;
    font-size: 40px;
}

/* ********************Contact**************** */

.contact-tel-cont{
    width: 50%;
    border-radius: 1em;
    background-color: #F57C00;
    position: relative;
    top: 1.5em;
    box-shadow: rgba(0, 0, 0, 1)8px 10px 1px;
    
}

.h-contact{
    font-size: 30px;
    color: black;
}

.contact-tel{
    width: 80%;
    background-color: #fff;
    border-radius: 1em;
    padding: 2em;
    margin: 0 auto;

}

.p-contact{
    margin: 0;
    padding: 0;
    font-size: 30px;

}

/* PARTE 2 */

.contact-ubi-cont{
    width: 50%;
    border-radius: 1em;
    background-color: #F57C00;
    position: relative;
    top: 1.5em;
    box-shadow: rgba(0, 0, 0, 1)8px 10px 1px;
}

.h-ubi{
    font-size: 30px;
    color: black;
}

.ubi-map{
    width: 90%;
    background-color: #fff;
    border-radius: 1em;
    padding: 1em;
    margin: 0 auto;

}

/* Parte 3 */
.contact-form-cont{
    width: 50%;
    border-radius: 1em;
    background-color: #F57C00;
    position: relative;
    top: 1.5em;
    box-shadow: rgba(0, 0, 0, 1)8px 10px 1px;
}

.h-form{
    font-size: 30px;
    color: black;
}

.form-cont{
    width: 80%;
    background-color: #fff;
    border-radius: 1em;
    padding: 2em;
    margin: 0 auto;
}

.btn-primary{
    background-color: rgb(66, 167, 66);
    color: #fff;

}

.btn-primary:hover{
    background-color: rgba(245, 123, 0, 0.904);
    color: #fff;

}

/* CART SHOP */
.img-cart-s{
    width: 40px;
}

.btn-css{
    background-color: red;
    color: #fff;
    padding: .1em 2em;
    border-radius: 1em;
    
}

.btn-css:hover{
    background-color: rgb(136, 0, 0);
    color: #fff;
    transition: .3s;
}

.btn-car-s{
    padding: .5em 3em;
    border-radius: 1em;
    font-size: 1.5em;
    background-color: rgba(245, 123, 0, 0.904);
    color: #fff;
}


.btn-car-s:hover{
    background-color: rgb(66, 167, 66);
    transition: .3s;

}

/* Profile */
.profile-container{
    width: 500px;
    background-color: rgb(226, 226, 226);
    padding: 3em;
    border-radius: 1em;
}


.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 2em;
    border: 3px solid;
    background-size: cover;
}

.title-prof{
    font-size: 1.3em;
}

.subti-prof{
    font-size: 110%;
    color: #fff;
    border-radius: 1em;
    background-color: rgba(245, 123, 0, 0.904);
    border: 1px solid;
}

.link-prof{
    text-decoration: none;
}
.link-prof:hover{
    text-decoration: none;
}

/* login */

.login-bg{
    height: 100%;
    background-color: rgb(15, 15, 15);
}

.container-form{
    width: 300px;
    padding: 1.3em;
    border-radius: .2em;
    background-color: rgb(167, 167, 167);
}

.img-form-login{
    width: 200px;
}

.label-form{
    color: #fff;
    font-size: 1.2em;
    text-shadow: rgba(0, 0, 0, 1)0px 0px 5px;
}

.regist-login{
    font-size: 1.2em;
    text-decoration: none;
}

.regist-login:hover{
    text-decoration: none;
    color: green;
    transition: .2s;
}

.btn-primary{
    transition: .3s;
}

.container-form-sign{
    width: 600px;
    padding: 1.3em;
    border-radius: .2em;
    background-color: rgb(167, 167, 167);
}

.regist-signin{
    font-size: 1.4em;
    text-decoration: none;
}

.regist-signin:hover{
    text-decoration: none;
    color: green;
    transition: .2s;
}

.color-modal{
    color: black;
}

@media screen and (max-width: 992px){

    .icon-text{
    margin: 2em;
    }

    .icon-size{
        width: 100%;
        padding: 1.5em;
    }

    .container-img{

        border-radius: 10px;
    }
    
    .container-icon{
        border-radius: 10px;
    }
  
    
    /* Footer */

    .icon-sociales{
        width: 150px;
        background-color: #F57C00;
        padding: 1em 3em;
        margin: 1em 1em;
        border-radius: 2em;
    }

    /* FORM */

    .form-cont{
        width: 100%;
    
    }


}

@media screen and (max-width: 767px){
    
    .img-main{
        border-radius: 1em 1em 0 0;
    
    }
    
    .bg-main{
        height: 250px;
        border-radius: 0 0 1em 1em;
    }

    .h-main{
        font-size: 200%;
        text-shadow: rgba(0, 0, 0, 1)0px 4px 4px;
    }
    
    .p-main{
        font-size: 140%;
        color: #fff;
    }
    
    /* -------------------ICON-------------------------- */


    .icon-size{
        width: 100%;
        padding: 2em;
    }
    
   
    .container-img{
        background-color: rgb(255, 207, 160);
        border-radius: 1em 1em 0 0;
    }

    .icon-text{
        margin: 0em;
    }

    /* Clientes */

    .h-clientes{
        width: 100%;
        font-size: 20px;
        top: 1em;
    
    }

 
    .p-clientes{
        width: 100%;
        font-size: 19px;
        bottom: .5em;
    
    }    
    
    /* ******** Contact */

    .contact-tel-cont{
        width: 70%;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 1)0px 5px 1px;
    }
    
    .contact-ubi-cont{
        width: 70%;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 1)0px 5px 1px;

    }

    /* PARTE UBICACION */
    .ubi-map{
        padding: 1em;
    }

    /* PARTE FORM */
    .contact-form-cont{
        width: 70%;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 1)0px 5px 1px;

    }

    .form-cont{
        width: 90%;
    
    }

}

