{% extends 'core/base.html' %}

{% load static %}

{% block title %}Update Profile{% endblock title %}

{% block content %}
    <div class="row w-100 mp-container justify-content-center">
        <div class="profile-container text-center">
        <h3 class='mb-5'>Actualizar Perfil</h3>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %} 
            <div>
                {% if request.user.profile.avatar %}
                    <img src="{{request.user.profile.avatar.url}}" class="profile-img">
                    <p class="mt-1 txt-checkbox" >¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
                {% else %}
                    <img src="{% static 'registration/img/original.jpg' %}" class="profile-img"> 
                {% endif %}
            </div>

            <div class="col">
                <input type="file" name="avatar" class="form-control-file my-5" id="id_avatar">
                {{ form.bio }}
                {{ form.link }}
                <input type="submit" class="btn btn-primary btn-block mt-3" value="Guardar">
                <a class="btn btn-danger btn-block mt-3" href="{% url 'profile' %}" role="button">Regresar a perfil</a>
            </div>
        </div>
    </div>
{% endblock content %}