{% extends 'core/base.html' %}

{% load static %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="row w-100 mp-container">
    <div class="col d-flex justify-content-center align-items-center" style="height: 450px;">
        <div class="container-form text-center">
            {% if 'register' in request.GET %} 
                <p style="color:green;">Usuario registrado correctamente, ya puedes identificarte</p>
            {% endif %}

            <form action="" method="post">
            {% csrf_token %}
                <img class="img-form-login my-4" src="{% static 'core/img/logo.png' %}" alt="">

                {% if form.non_field_errors %}
                     <p style="color:red">Correo o contraseña incorrectos, prueba de nuevo.</p>
                {% endif %}

                <div class="form-group">
                    <label  class=" label-form">Username</label>
                    <input name='username' autofocus class="form-control" id="id_username" placeholder="Enter user" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class=" label-form">Password</label>
                    <input type="password" name='password' class="form-control" id="id_password" placeholder="Password" required>
                </div>

                <div class="mt-3">
                    <p>¿Aun no tienes una cuenta?</p>
                    <a class="regist-login" href="#">Registrate</a>
                </div>
                
                <button type="submit" class="btn btn-primary mt-4">Entrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}